multi-select {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 5px;
}

multi-select .title {
    font-weight: bold;
    white-space: nowrap;
}

multi-select .option-container {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
}

multi-select .options {
    display: flex;
    flex-wrap: nowrap;
    /* margin-left: 10px; */
}

multi-select label {
    white-space: nowrap;
    margin-right: 20px;
}
